{% extends "schedule/base.html" %}


{% block headcontent %}
<script>
    function runAlgo(){
        alert("waht[aojw op");
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST","/runAlgo");
        var xmlDoc;
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert(this.responseText);
                alert("yes");
            }
            else{
                alert("nope");
            }
        };
    alert("closing")
    }
</script>
{% endblock %}
{% block content %}

<h2>Generate Schedule</h2>

<em>Fields the course coordinator will need to see before generating schedule</em><br><br>

<button type="button" class="btn btn-primary btn-md" id = "runalgo" onclick = "runAlgo()" >Generate Schedule</button>


{% endblock content %}

